@font-face {
    font-family: Cursed Timer ULiL ;
    src: url(assets/CursedTimerUlil-Aznm.ttf);
}

body {
    margin: 0;
    background-color: #4B5563;
    display: flex;
    justify-content: center;
    vertical-align: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: space-around;
    background-color: #1B244A;
    min-width: 500px;
    padding: 65px;
    border-radius: 5px;
    flex-flow: row wrap;
    
    
}
.board {
    width: 35%;
}

h3 {
    color:#EEEEEE;
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 90%;
    text-align:center;
    margin-bottom:20px;

}
.score {
    line-height: 50px;
    font-family: 'Cursed Timer ULiL';
    font-weight: 400;
    font-size: 90px;
    line-height: 141%;
    text-align: center;
    color: #F94F6D;
    background-color: #080001;
    border-radius: 5px;
    margin-bottom:20px; 
    
    
}

.button-row {
    display: flex;
    justify-content: space-evenly;
}

.add-btn {
    font-family: 'Cursed Timer ULiL';
    font-weight: 400;
    font-size: 18px;
    line-height: 155%;
    text-align: center;
    color: #9AABD8;
    background-color: transparent;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    width:45px

}
.container::before, .container::after {
    content: '';
    width: 100%;
    order: 1;
  }
#new-match {
    margin-top: 30px;
    width: 50%;
}